* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.searchBar {
  position: fixed;
  width: 400px;
 
  padding: 3px 10px;
  border-radius: 6px;
  margin-top: 65px;
  margin-bottom:10px;
  margin-right:10px;
  z-index: 11;
  top: 0;
  right: 0;
border: 1px solid #aeabae;
outline:none;
}
.searchBar::placeholder{
  font-size:smaller;
  opacity: 0.5;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  column-gap: 30px;
  row-gap: 30px;
  margin-left: 100px;
  
}
::-webkit-scrollbar {
  width: 0;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .card-actions img {
    height: 40px; 
    
   
  }
  .product-detail {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px 4px;
    background-color: #eeeeee65;
    padding: 5px 15px;
    
  }
  .product-detail h3,span {
    font-family: fantasy;
    color:rgb(9, 95, 106);
    
  }
  .product-detail h4 {
    font-family: fantasy;
   font-size: 20px;
  }
  .product-detail h6{
 
 font-weight: 700;
 font-size: small;
  }
  .product-detail .description{
    overflow: scroll;
   }
.card {
    display: grid;
    grid-template-rows: 190px 250px 70px;
    padding-top: 20px;
    margin-top: 10px;
    
} 

.product-detail .description{
  overflow: auto;
 
 }

.cards-img {
    height: 180px;
  max-width: 300px;
  max-height: 205px;
  object-fit: contain;
  background-color: transparent;
margin-top: 9px;
} 

@media(max-width:1190px){
  .searchBar{
    width:300px ;
  }
  .cards-img {
    height: 180px;
  max-width: 300px;
  max-height: 100px;
  object-fit: contain;
  background-color: transparent;
} 

.card-actions img {
  height: 30px; 
}

.card-container .card{
  grid-template-rows:100px 250px 50px ;
}
  .card-container{
    grid-template-columns:300px 300px 300px;
  }
  .product-detail {
  font-size: 14px;
  
  }
  .product-detail h3{
   font-size: 15px;
  }
  .product-detail h4 {
   font-size: 14px;
   
  }
 
}

@media(max-width:955px){
  .searchBar{
    width:60px ;
  }
  .card-container{
    grid-template-columns: 600px;
    
  }
  
.product-detail {
font-size: 14px;

}
.product-detail h3{
 font-size: 15px;
}
.product-detail h4 {
 font-size: 14px;
 
}
.card-actions img {
  height: 30px; 
 
}
}
@media(max-width:560px){
  .searchBar{
    width:60px ;
  }

  .card-container{
    grid-template-columns: 300px;
    margin-left: 100px;
  }
}
.imgs .cards-img:hover {
  transform: scale(1.1);
  transition: 0.4s;
 
 
}

.Sufficient {
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: green;
 width:10px
}
.Insuficient {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: red;

  width: 10px;
}
.SUFFICIENT {
  position: fixed;
  z-index: 1;
  background-color: rgb(1, 113, 1);
  color: white;
  opacity: 0.8;
  font-size: 11px;
 
  
}
.INSUFFICIENT {
  position: fixed;
  z-index: 1;
  background-color: red;
  color: black;
  opacity: 0.8;
 
}
.status {
  width: 90px !important;
  font-size: smaller;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 1px 3px;
  position: absolute;
  border-bottom-right-radius: 10px;
}
table {
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;

}




tbody:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
  
}