


.title{
    z-index: 5;
    font-family:fantasy;
    font-size: 40px; 
    top: 50%;
    position: absolute;
    color:black;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#eee;
  border-radius: 10px;
  padding: 10px 10px;
 
}



    


