.sell-wrapper{
    margin: 10px 0px 0px 100px ;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 15px;
}
.title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    font-family:'Courier New', Courier, monospace
}
.sells{
    display: flex;
    gap: 10px;
    align-items: center;
}

.sells input{
    width: 350px;
    padding: 6px;
    font-size: medium;
    padding-left: 4px;
    border: none;
    border-radius: 3px;
    outline: none;
}
.sells button{

width: 100px;
padding: 0 7px 0px  7px;
border: none;
border-radius: 5px;
background-color: rgb(9, 122, 137);
color:#eee;
font-size: 25px;

}
.sells button:hover{
background-color: rgb(16, 74, 81);
}
.sells p{
    font-size: 22px;
}

@media(max-width:589px){
    .sell-wrapper{
     margin-left: 60px;

    }
.title{
    margin-left: 9px;
    padding: 10px 0px 7px 10px;
}
.sells input{
    width: 300px;
   
}   
}