body {
  padding: 50px;
  margin-top: 90px;
  z-index: -1;
}
.menu {
  min-width: 101px;
  max-width: 101px;
  background: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 50;
  top: 0;
  bottom: 0;
  left: 0;
  gap: 40px;
  box-shadow: 4px 109px 7px rgba(0, 0, 0, 0.6);
}
.side-title {
 min-width:100px ;
 min-height: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  padding: 1px 5px;
  margin-top: 28.5px;
  margin-bottom: -60px;
  color: rgb(22, 165, 22);
font-size: smaller;
font-weight: bold;
}
.hamberger {
  border-bottom: 1px solid black;
}

.menu div:hover{
  font-size: 9px;
  transition: 0.4s ease-in-out;
}
.menu div img:hover{
  height: 40px;
  transition: 0.4s ease-in-out;
}
.menu img {
  height: 35px;
}
@media(max-width:1190px){
  .menu img {
    height: 35px;

  }
  .side-title {
     margin-top: 28.5px;
     margin-bottom: -60px;
     color: rgb(38, 137, 38);
   font-size: 13px;
   
   }
}
@media(max-width:1016px){
  .menu img {
    height: 25px;
  }
  .side-title {
    margin-top: 28.5px;
    margin-bottom: -60px;
    color: rgb(38, 137, 38);
  font-size: 11px;
  
  }
}
@media(max-width:800px){
  .menu img {
    height: 20px;
  }
  .side-title {
    margin-top: 28.5px;
    margin-bottom: -60px;
    color: rgb(38, 137, 38);
  font-size: 9px;
  
  }
}
