.top-nav {
  background: white;
  height: 105.5px;
  text-align: center;
  position: fixed;
  top:0;
  left:101px;
  right:0;
z-index: 10;
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}
.logo {
  height: 100px;
  margin: 4px 7px;
  padding: 5px 60px;

  
}
@media(max-width:800px){
  .logo {
    height: 90px;
    margin: 1px 6px;
    padding: 5px 50px;
  
    
  }
}