.top-nav {
  background:white;
  text-align: center;
  position: fixed;
  top:0;
  left:0;
  right:0;
z-index: 10;
  box-shadow: 104px 1px 7px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
.logo {
  height: 100px;
  margin: 4px 7px;
  padding: 5px 60px;
 
}
.mini-logo{
  display: none;
}
@media(max-width:800px){
  .logo {
  display: none; 
  }

  .mini-logo{
    display: inline-block;
  
    height: 90px;
    background:transparent;
  }
  .top-nav {

    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
}