.main {
  margin-left: 600px;
 
}

label {
 
  word-wrap: none;
  white-space: nowrap;
}

.addNew {
  border-bottom: 9px solid ;
 
  font-weight: bold;
  word-wrap: none;
  white-space: nowrap;
  width: 480px;
 
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    900deg,
    rgb(4, 172, 105) 0%,
    rgba(31, 90, 0, 10) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
 
}
.forms {
  gap: 8px;
  background-color: white;
  width: 700px;
}

.forms ::placeholder {
  font-size: small;
}
.forms input,textarea {
 padding:4px;
 font-size: small;
}

.input-form{
  display:flex;
  flex-direction: column;
  gap:9px
}

.inputs{
  display:grid;
  align-items: baseline;
  column-gap: 10px;
}
.inputs .discr{
  height: 140px;
}

.forms label {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(14, 147, 164);
  font-size: 18px;
}

.btn {
  margin: 1px;
  background-color: #eee;
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-size: large;
}
 .choosen-image {

 width: 90px;
object-fit: cover;
} 

.Choose-form {
  display: flex;
  justify-content: space-between;
}
.background {
position:fixed;
z-index: -1;
left:0;
  width: 600px;
  height: 650px;
  /* background-color: aqua; */
  margin-left: 40px;
  
  object-fit: contain;
}
.select{
padding: 8px;
  font-size:small;

}

@media (max-width: 1205px) {
  .main {
    margin-left: 500px;
   
  }
  .background {
      width: 500px;
      height: 500px;
  
    }
    .forms {
      
      background-color: white;
      width: 600px;
    }
 
}
@media (max-width: 560px) {
 
 
  
  
  
  
  
}
